#top-bar, #top-bar div h3{
  background-color: #D9AEFB;
  color: black;
  
}
#main{
  background-color: greenyellow
  

}
.clearFloats{
  clear: both;
  
}

.center-block{
  display: flex;
 
  background-color: greenyellow;
  border: greenyellow;
}

.btnup{
  background-color: #98EDE7;
}

.btnbuy {
  background-color: gold;
}
