#top-bar, #top-bar div h3{
  background-color: #D9AEFB;
  color: white;
}
#main{
  background-color: greenyellow
}
.clearFloats{
  clear: both;  
}

.center-block{
  background-color: greenyellow;
  border: greenyellow;
}